<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <clear />
      <add path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler" validate="true" />
    </httpHandlers>
    <httpModules>
      <clear/>
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>