<?xml version="1.0"?>
<configuration>
    <system.web>
        <httpHandlers>
            <clear />
            <add path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler" validate="true" />
        </httpHandlers>
        <httpModules>
            <clear/><!-- this does not work - http://weblogs.asp.net/pjohnson/http-modules-subdirectories-and-private-variables -->
        </httpModules>
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/ld+json"/>
          <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>