/* print.css - White backgrounds for printed media */

body {
    background: #FFF;
    font-size: 0.6666em;
}
.page-wrap,
.section {
    background: #FFF;
}
.grid-pattern,
.section-title,
.section.search,
.section.footer,
.promo .contents .meta,
.page-heading .artifact a.reveal {
    background: none;
    color: #333;
}
.carousel .slide .text {
    background: #FFF;
    background: rgba(255,255,255,0.8);
    color: #333;
}
.section.footer a,
.section.search a,
.carousel .slide .text .a {
    color: #4968A7;
}
a.button:link,
a.button:hover,
a.button:focus {
    background: none;
    border: 1px solid #333;
    color: #333;
    padding: 0.5em;
}
.section.footer-promo {
    background: none;
}
.carousel, .carousel .slide {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.section.header,
.grid-pattern,
.section.search,
.has-js dl.search-finder dt {
    border-bottom: 1px solid #CCC;
}
.section.footer {
    border-top: 1px solid #CCC;
}
.page-heading .artifact a.reveal span {
    background-color: #DDD;
}
.footer small {
    color: #666;
}
.alert {
    background-color: transparent;
    border: 1px solid #909;
}
.section-nav a.current {
    background-color: transparent;
    color: #4968A7;
}
.promo,
.promo.black,
.promo.grey,
.promo.blue,
.promo.green,
.promo.purple,
.promo.blue.tint,
.promo.green.tint,
.promo.purple.tint,
.dominant,
.section-nav ul ul ul,
.callout,
dl.search-finder dd,
.has-js dl.search-finder dt:active,
.has-js dl.search-finder dt.active,
.has-js dl.search-finder dt,
dl.search-finder dt,
dl.search-finder p.recommended,
dl.search-finder p.recommended strong {
    background: none;
    color: #000;
}
.promo,
.promo.black {
    border: 1px solid #231F20;
}
.promo.grey {
    border-color: #6E6E6E;
}
.promo.blue {
    border-color: #6086C7;
}
.promo.green {
    border-color: #BBBB0C;
}
.promo.purple {
    border-color: #909;
}
.promo.blue.tint {
    border-color: #E3E9F5;
}
.promo.green.tint {
    border-color: #EAEAB6;
}
.promo.purple.tint {
    border-color: #EBCCEB;
}
.promo .contents {
    color: #333;
}
a.promo .contents {
    background: none;
}
.section-strip {
    color: #231F20;
    background: none;
    padding-left: 0;
    border-bottom: 2px solid #231F20;
}
.section-strip.blue {
    background: none;
    border-color: #7A95D2;
}
.section-strip.green {
    background: none;
    border-color: #BBBB0C;
}
.section-strip.purple {
    background: none;
    border-color: #909;
}