@model List<string>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mirador: @Model[0]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>
<body>

<div id="viewer"></div> 

<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "viewer",
  "windows": [
    {
      "loadedManifest": "@Model[0]",
      "thumbnailNavigationPosition": 'far-bottom',
      "view": "single"
    }
    @if (Model.Count > 1)
    {
        <text>
        ,    
        {
            "loadedManifest": "@Model[1]",
            "thumbnailNavigationPosition": 'far-bottom',
            "view": "single"
        }
        </text>
    }
  ]
});
</script>
</body>
</html>