@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mirador: @Model</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
</head>
<body>

<div id="my-mirador"></div> 

<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<script type="text/javascript">
var mirador = Mirador.viewer({
  "id": "my-mirador",
  "windows": [
    {
      "loadedManifest": "@Model",
      "thumbnailNavigationPosition": 'far-bottom'
    }
  ]
});
</script>
</body>
</html>