@model System.Collections.Generic.List<System.Collections.Generic.KeyValuePair<string,string>>

@{
    ViewBag.Title = "Settings";
}

<a id="top"></a>


<div class="col-md-12">
    <h3 style="margin: 25px 0 20px 0">Selected application settings</h3>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var setting in Model)
    {
        <tr>
            <td>@setting.Key</td>
            <td>@setting.Value</td>
        </tr>
    }
    </tbody>
</table>

