@model string

@{
    ViewBag.Title = "UV: " + Model;
}

<!-- This template is no longer used from the dash - don't need to view things in the wl.org UV any more -->
<!-- keep for reference though - this is how you would get that last version up for comparison -->
<div class="row" style="margin-top: 1.5em;">
    <div class="col-sm-12">
        <a href="#" onclick="window.history.go(-1); return false;">Back to previous page</a>
        <p>Viewing manifest <a href="@Model">@Model</a></p>
    </div>
</div>

<div style="margin-top: 2em;">
    <div class="uv" data-config="https://iiif.wellcomecollection.org/assets/config/uv-config.json" data-uri="@Model" style="width: 100%; height:700px; background-color: #000"></div>
    <script type="text/javascript" id="embedUV" src="https://iiif.wellcomecollection.org/spas/uv/top/lib/embed.js"></script>
</div>