@model XmlModel

@{
    ViewBag.Title = "Dash: Xml File View";
}
<style type="text/css" media="screen">
    #aceView {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 82vh;
    }
</style>

<h1>
    @Html.ActionLink(Model.RelativePath, "Manifestation", "Dash", new { id = Model.BNumber }, new { })
</h1>

<div class="row" style="height:100%">
    <div class="col-md-12">
        <div id="aceView">@Model.XmlAsString</div>

        @Model.ErrorMessage
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
<script>
    var aceView = ace.edit("aceView");
    aceView.setTheme("ace/theme/chrome");
    aceView.session.setMode("ace/mode/xml");
</script>

