@model List<WorkflowJob>

@{
    ViewBag.Title = "RecentGoobiCalls";
}

<a id="top"></a>


<div class="col-md-12">
    <h3 style="margin: 25px 0 20px 0">Recent Goobi calls</h3>
</div>

<p>
@if (ViewBag.IsErrorList)
{
    <text>(showing errors only) @Html.ActionLink("Show all", "Recent", "GoobiCall")</text>
}
else
{
    <text>@Html.ActionLink("Show errors only", "Errors", "GoobiCall")</text>
}
 | @Html.ActionLink("Workflow statistics", "Stats", "GoobiCall") 
</p>
<partial name="_WorkflowJobList" model="Model" />