@model int

@{
    ViewBag.Title = "Matching errors";
}
<a id="top"></a>

<div class="col-md-12">
    <h3 style="margin: 25px 0 20px 0">Errors matching a string</h3>
    <p>@Html.ActionLink("View all errors", "Errors", "GoobiCall")</p>
</div>

<div class="row" style="padding-top:2em">
    <div class="col-md-12">
        @using (Html.BeginForm("MatchingErrors", "GoobiCall", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" value="@ViewBag.ErrorString" class="form-control" name="msg" id="schBox">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search again</button>
                </span>
            </div><!-- /input-group -->
        }
    </div>
</div>

<div class="row" style="padding-top:2em">
    <div class="col-md-12">
        <p>@Model errors matching this string.</p>
                @using (Html.BeginForm("ResetMatchingErrors", "GoobiCall", FormMethod.Post))
                {
                    <div class="input-group">
                        <input type="text" disabled value="@ViewBag.ErrorString" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Reset jobs with these @Model matching errors.</button>
                        </span>
                        <input type="hidden"  name="resetWithMessage" id="resetWithMessage" value="@ViewBag.ErrorString" />
                    </div><!-- /input-group -->
                }
    </div>
</div>