@using Wellcome.Dds.AssetDomain.Mets
@using Utils

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family:sans-serif;
        }
        td {
            border-bottom: 1px solid lightgray;
        }
    </style>
</head>
<body>
<p>Superseded</p>
</body>
</html>