@model JobsModel

@{
    ViewBag.Title = "Dash: Recent Jobs";
}

<h1>DLCS Ingest Jobs</h1>

<p>
    @Html.ActionLink("View Job Processor log", "Index", "Log")
    <br/>
    @Html.ActionLink("View Workflow Jobs (Goobi calls)", "Recent", "WorkflowCall")
</p>

<div class="row">
    <div class="col-md-3">
   

    </div>
    <div class="col-md-9">
        <partial name="_JobList" model="Model" />
    </div>
</div>
